# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
crashlytics-build.properties
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.consulo/
ExportedObj/

# Tools
/Tools/.libs/
/Tools/Solver/bin/
/Tools/Solver/obj/
!/Tools/Solver/Solver.csproj
__pycache__/
*.blend1
*.blend2
/Screenshots/
/Captures/

# OS
.DS_Store
Thumbs.db
